MAC0122-2021-2S/EI06/__pycache__/horario.cpython-39.pyc
EI02/desktop.ini
EI03/desktop.ini
EI04/desktop.ini
EI05/desktop.ini
EI06/desktop.ini
EI06/__pycache__/desktop.ini
EI07/desktop.ini
EI08/desktop.ini
EI09/desktop.ini
EI10/desktop.ini
EI11/desktop.ini
desktop.ini
